---
import ExcelCrossToolPro from '../components/ExcelCrossToolPro.jsx';
import '../styles/global.css';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Cruzador Excel Profesional</title>
  </head>
  <body>
    <ExcelCrossToolPro client:load />
  </body>
</html>
